<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>挂号时间</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/resources/favicon.ico">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/layui/css/layui.css" th:href="@{/resources/layui/css/layui.css}"
          media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" th:href="@{/resources/css/public.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/resources/layui_ext/dtree/font/dtreefont.css}" media="all"/>
    <link rel="stylesheet" th:href="@{/resources/layui_ext/dtree/dtree.css}" media="all"/>
</head>
<body class="childrenBody">

<!--查询条件开始-->

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>查询条件</legend>
</fieldset>
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">医生名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="doctorName"   autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" id="doSearch" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh"></span>重置</button>

            </div>
        </div>
    </form>
</blockquote>

<!--查询条件结束-->

<!--数据表格开始-->
<div>
    <table class="layui-hide" id="doctorTimeTable" lay-filter="doctorTimeTable">
    </table>
    <div id="doctortimeRowBar"style="display: none;">
        <button type="button" lay-event="register" class="layui-btn layui-btn-sm "><span class="layui-icon layui-icon-friends"></span>挂号</button>
    </div>
</div>

<!--数据表格结束-->

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript">
    //提升数据表格的作用域，因为底下还有一个reloadTable方法
    var tableIns;

    layui.extend({
        dtree: '/resources/layui_ext/dtree/dtree'
    }).use(['jquery', 'form', 'layer', 'laydate', 'table', 'layedit','dtree'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;

        var table = layui.table;
        var dtree = layui.dtree;




        //初始化表格 加载数据
        tableIns = table.render({
            elem: "#doctorTimeTable",
            title: "数据表格",
            url: "/api/doctortime/loadAllDoctortime",
            toolbar: "#deptToolBar",
            page: true,
            height: "full-190",
            cols: [ [
                {field: 'doctorName', title: '医生', align: 'center',width:'120'},
                {field: 'deptId', title: '门诊id', align: 'center',hide:true},
                {field: 'deptName', title: '门诊', align: 'center',width:'120'},
                {field: 'startime', title: '上班时间', align: 'center',width:'180'},
                {field: 'endtime', title: '下班时间', align: 'center',width:'180'},
                {field: 'remain', title: '剩余号数', align: 'center',width:'120'},
                {field: 'price', title: '挂号费', align: 'center',width:'120'},
                {toolbar: '#doctortimeRowBar', align: 'center',width:'180'},
            ] ],
            done:function (data, curr, count) {
                if(data.data.length===0&&curr!==1){   //不是第一页时，如果当前返回的数据为0那么就返回上一页
                    tableIns.reload({
                        page:{
                            curr:curr-1
                        }
                    });
                }
            }
        });

        //监控行工具条事件
        table.on('tool(doctorTimeTable)', function(obj){
            var data = obj.data;
            if (data.remain<= 0)
            {
                layer.msg("余号不足!");
            }
            else {
                if (obj.event === 'register') {
                    var index = layer.confirm("是否要对" + data.doctorName + "医生挂号？"
                        , {icon: 3, title: '挂号确认', btn: ['确认并前往缴费', '取消']}
                        , function (value, index) {
                            console.log(data);
                            data.startime = new Date(data.startime.replace(/-/g, "/"));
                            data.endtime = new Date(data.endtime.replace(/-/g, "/"));
                            $.post("/api/bus/register/addRegister", data, function (res) {
                                if (res.code === 200) {
                                    // var targeturl = '/bus/patient/toRegisterManager';
                                    var payurl ='/bus/patient/toPaymentManager';

                                    window.parent.parent.parent.parent.onlyreload(payurl);
                                    window.parent.parent.parent.parent.reload(payurl);
                                    layer.msg(res.msg);
                                } else if (res.code === 400) {
                                    layer.msg("余号不足");
                                }
                                tableIns.reload({
                                    where: "",
                                });

                            });
                            // layer.msg('TODO');
                        }
                    );
                }
            }
        });

        //监控模糊查询按钮事件
        form.on("submit(doSearch)", function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                },
                done: function(res, curr, count){
                    delete this.where.doctorName;
                }
            });
            return false;
        });

    });
    function reloadTablebyDept(deptId) {
        console.log(deptId);
        tableIns.reload({
            where:{
                deptId:deptId
            }
        });
    }
    function reloadTable() {
        tableIns.reload({
            where:""
        });
    }

</script>
</body>
</html>
