<!DOCTYPE html>
<html class="registerHtml" lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="utf-8">
    <title>病历编写</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="https://img.icons8.com/android/48/000000/hospital.png">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" media="all"/>
</head>
<body class="WriteRecordBody">

<form class="layui-form" action="" id="dataFrm" lay-filter="dataFrm">
    <div class="layui-form-item">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
            <legend>病历编写</legend>
        </fieldset>
    </div>
    <div class="layui-row">
        <div class="layui-col-xs5">
            <div class="layui-form-item">
                <button type="button"  id="getInfo" name="getInfo" class="layui-btn layui-btn-normal "><span class="layui-icon layui-icon-add-1">获取看病人信息</span></button>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">队列编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="queueId" id="queueId" required lay-verify="required" placeholder=""
                            readonly="readonly" class="layui-input">
                </div>
                <label class="layui-form-label">挂号单编号</label>
                <div class="layui-input-inline">
                    <input type="text" name="registerId" id="registerId" required lay-verify="required" placeholder=""
                           readonly="readonly" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" id="name" required lay-verify="required" placeholder=""
                           autocomplete="new-name" readonly="readonly"
                           class="layui-input">
                </div>
                <label class="layui-form-label">诊号</label>
                <div class="layui-input-inline">
                    <input type="text" name="patientId" id="patientId" required lay-verify="required" placeholder="" readonly="readonly"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <input type="text" name="sex" id="sex" required lay-verify="required" placeholder="" readonly="readonly"
                           class="layui-input">
                </div>
                <label class="layui-form-label">出生日期</label>
                <div class="layui-input-inline">
                    <input type="text" name="birthday" id="birthday"
                           readonly="readonly" autocomplete="off" class="layui-input">
                </div>

            </div>
            <div class="layui-form-item">

                    <label class="layui-form-label">身份证号码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="idNum" id="idNum"
                               readonly="readonly" autocomplete="off" class="layui-input">
                    </div>
                    <label class="layui-form-label">医保卡号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="medNum" id="medNum"
                               readonly="readonly" autocomplete="off" class="layui-input">
                    </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">诊断结果</label>
                <div class="layui-input-block">
                    <textarea name="diagnosis" id="diagnosis" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>

            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">是否完成全套问诊</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="ifdone" lay-skin="switch" value="1">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="doSubmit" id="doSubmit">立即提交</button>
                    <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                    </button>
                </div>
            </div>
        </div>
        <div class="layui-col-xs1">
        </div>
        <div class="layui-col-xs6">
            <!--数据表格开始-->
            <div>
                <!--检查项目表格 -->
                <table class="layui-hide" id="examTable" lay-filter="examTable">

                </table>
                <div id="examToolBar"style="display: none;">
                    <button type="button" lay-event="BatchAdd" class="layui-btn layui-btn-sm "><span class="layui-icon layui-icon-add-1">批量添加</span></button>
                    <button type="button" lay-event="refresh" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>刷新</button>
                </div>
                    <div id="examRowBar"style="display: none;">
                        <button type="button" lay-event="addexamtodo" class="layui-btn layui-btn-sm "><span class="layui-icon layui-icon-edit"></span>添加</button>
                    </div>
            </div>
            <div>
                <!--治疗项目表格 -->
                <table class="layui-hide" id="treatTable" lay-filter="treatTable">

                </table>
                <div id="treatToolBar"style="display: none;">
                    <button type="button" lay-event="BatchAdd" class="layui-btn layui-btn-sm "><span class="layui-icon layui-icon-add-1">批量添加</span></button>
                    <button type="button" lay-event="refresh" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>刷新</button>
                </div>
                <div id="treatRowBar"style="display: none;">
                    <button type="button" lay-event="addtreattodo" class="layui-btn layui-btn-sm "><span class="layui-icon layui-icon-edit"></span>添加</button>
                </div>
            </div>
            <div>
                <!--药品项目表格 -->
                <table class="layui-hide" id="medTable" lay-filter="medTable">

                </table>
                <div id="medToolBar"style="display: none;">
                    <button type="button" lay-event="BatchAdd" class="layui-btn layui-btn-sm "><span class="layui-icon layui-icon-add-1">批量添加</span></button>
                    <button type="button" lay-event="refresh" class="layui-btn layui-btn-sm layui-btn-danger"><span class="layui-icon layui-icon-delete"></span>刷新</button>
                </div>
                <div id="medRowBar"style="display: none;">
                    <button type="button" lay-event="addmedtodo" class="layui-btn layui-btn-sm "><span class="layui-icon layui-icon-edit"></span>添加</button>
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript" src="/resources/js/cache.js"></script>
<script type="text/javascript">
    var examtableIns;
    var medtableIns;
    var treattableIns;
    layui.use(['form', 'layer', 'jquery', 'laydate','table'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var $ = layui.jquery;
        var table = layui.table;


        //初始化表格 加载数据
        examtableIns = table.render({
            elem: "#examTable",
            title: "检查项目表",
            url: "/api/bus/exam/loadAllExam",
            toolbar: "#examToolBar",
            page: true,
            height: 350,
            width:650,
            cols: [ [
                {type: 'checkbox', fixed: 'left'},
                {field: 'examId', title: '检查项目编号', align: 'center',width:'120'},
                {field: 'examName', title: '项目名称', align: 'center',width:'120'},
                {field: 'price', title: '价格', align: 'center',width:'100'},
                {field: 'usageCount', title: '已用次数', align: 'center',width:'100'},
                {fixed: 'right',title: '操作', toolbar: '#examRowBar', align: 'center',width:'100'}
            ] ],
            done:function (data, curr, count) {
                if(data.data.length==0&&curr!=1){   //不是第一页时，如果当前返回的数据为0那么就返回上一页
                    examtableIns.reload({
                        page:{
                            curr:curr-1
                        }
                    });
                }
            }
        });
        //监控检查行工具条事件
        table.on("tool(examTable)",function (obj) {
            //获取当前行数据
            var data = obj.data;
            switch (obj.event){
                case 'addexamtodo':
                    addExamToDo(data);
                    break;
                default:
                    break;
            }
        });
        function addExamToDo(data){
            data.registerId = $('#registerId').val();
            console.log(data);
            $.post("/api/bus/examtodo/addExamToDo",data, function (res) {
                layer.msg(res.msg);
            })
        }


        getinfo();//获取正在看病的患者信息,页面打开时自动调用一次
        $("#getInfo").click(function () {
            getinfo();
        });

        function getinfo () {
            $.get("/api/bus/registerqueue/loadRegisterToRecord",function (result) {
                console.log(result)
                $('#name').val(result.patientName);
                $('#queueId').val(result.queueId);
                $('#patientId').val(result.patientId);
                $('#registerId').val(result.registerId);
                $.get("/api/bus/record/loadPatient",{userId:result.patientId},function(patientresult){
                    console.log(patientresult);
                    if (patientresult.gender===1)
                        $('#sex').val("男");
                    else if (patientresult.gender===0)
                        $('#sex').val("女");
                    $('#birthday').val(patientresult.birthday);
                    $('#addr').val(patientresult.addr);
                    $('#idNum').val(patientresult.idNum);
                    $('#medNum').val(patientresult.medNum);
                })
            })

        }
        //提交生成record
        $("#doSubmit").click(function () {
            var data = $("#dataFrm").serialize();

            $.post("/api/bus/record/addRecord",data,function(res){
                layer.msg(res.msg);
            })
        })


        //初始化表格 加载数据
        treattableIns = table.render({
            elem: "#treatTable",
            title: "治疗项目表",
            url: "/api/bus/treatment/loadAllTreatment",
            toolbar: "#treatToolBar",
            page: true,
            height: 350,
            width:650,
            cols: [ [
                {type: 'checkbox', fixed: 'left'},
                {field: 'treatmentId', title: '治疗项目编号', align: 'center',width:'120'},
                {field: 'treatmentName', title: '治疗项目名称', align: 'center',width:'120'},
                {field: 'price', title: '价格', align: 'center',width:'100'},
                {field: 'usageCount', title: '已用次数', align: 'center',width:'100'},
                {fixed: 'right',title: '操作', toolbar: '#treatRowBar', align: 'center',width:'100'}
            ] ],
            done:function (data, curr, count) {
                if(data.data.length==0&&curr!=1){   //不是第一页时，如果当前返回的数据为0那么就返回上一页
                    examtableIns.reload({
                        page:{
                            curr:curr-1
                        }
                    });
                }
            }
        });
        //监控检查行工具条事件
        table.on("tool(treatTable)",function (obj) {
            //获取当前行数据
            var data = obj.data;
            switch (obj.event){
                case 'addtreattodo':
                    addTreatToDo(data);
                    break;
                default:
                    break;
            }
        });
        function addTreatToDo(data){
            data.registerId = $('#registerId').val();
            console.log(data);
            $.post("/api/bus/treattodo/addTreatToDo",data, function (res) {
                layer.msg(res.msg);
            })
        }

        //初始化表格 加载数据
        treattableIns = table.render({
            elem: "#medTable",
            title: "治疗项目表",
            url: "/api/bus/medicine/loadAllMedicine",
            toolbar: "#treatToolBar",
            page: true,
            height: 350,
            width:650,
            cols: [ [
                {type: 'checkbox', fixed: 'left'},
                {field: 'medId', title: '药品编号', align: 'center',width:'120'},
                {field: 'medName', title: '药品名称', align: 'center',width:'120'},
                {field: 'price', title: '价格', align: 'center',width:'100'},
                {field: 'stock', title: '剩余药品', align: 'center',width:'100'},
                {fixed: 'right',title: '操作', toolbar: '#medRowBar', align: 'center',width:'100'}
            ] ],
            done:function (data, curr, count) {
                if(data.data.length==0&&curr!=1){   //不是第一页时，如果当前返回的数据为0那么就返回上一页
                    examtableIns.reload({
                        page:{
                            curr:curr-1
                        }
                    });
                }
            }
        });
        //监控检查行工具条事件
        table.on("tool(medTable)",function (obj) {
            //获取当前行数据
            var data = obj.data;
            switch (obj.event){
                case 'addmedtodo':
                    addMedToDo(data);
                    break;
                default:
                    break;
            }
        });
        function addMedToDo(data){
            data.registerId = $('#registerId').val();
            console.log(data);
            $.post("/api/bus/medtodo/addMedToDo",data, function (res) {
                layer.msg(res.msg);
            })
        }

    })

</script>
</body>
</html>