<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>病历</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="https://img.icons8.com/android/48/000000/hospital.png">
    <link rel="stylesheet" href="/resources/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="/resources/layui/css/layui.css" th:href="@{/resources/layui/css/layui.css}"
          media="all"/>
    <link rel="stylesheet" href="/resources/css/public.css" th:href="@{/resources/css/public.css}" media="all"/>
</head>
<body class="childrenBody">

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
    <legend>查询条件</legend>
</fieldset>
<blockquote class="layui-elem-quote">
    <form action="" method="post" id="searchFrm" lay-filter="searchFrm" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">医生姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="doctorName" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label" style="width: auto;">创建时间（查询该时间后创建的病历）</label>
                <div class="layui-input-inline">
                    <input type="tel" name="startTime" id="startTime" readonly="readonly" placeholder="点击选择创建时间"  class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;">
                <button type="button" class="layui-btn" lay-submit="" lay-filter="doSearch"><span class="layui-icon layui-icon-search"></span>查询</button>
                <button type="reset" class="layui-btn layui-btn-warm"><span class="layui-icon layui-icon-refresh"></span>重置</button>

            </div>
        </div>

    </form>
</blockquote>


<!--数据表格开始-->
<div>
    <table class="layui-hide" id="recordTable" lay-filter="recordTable">

    </table>
    <div id="recordToolBar" style="display: none;">
        <button type="button" lay-event="reload" class="layui-btn layui-btn-sm "><span class="layui-icon layui-icon-refresh"></span>刷新</button>
    </div>
    <div id="recordRowBar" style="display: none;">
        <button type="button" lay-event="pay" class="layui-btn layui-btn-sm layui-btn-normal "><span class="layui-icon layui-icon-rmb"></span>支付</button>
        <button type="button" lay-event="show" class="layui-btn layui-btn-sm"><span class="layui-icon layui-icon-about"></span>查看</button>
        <button type="button" lay-event="queue" class="layui-btn layui-btn-sm layui-btn-warm"><span class="layui-icon layui-icon-about"></span>排队</button>


    </div>
</div>

<!--数据表格结束-->

<div id="showRecord" style="display: none;padding: 10px">
    <h3 id="recordTitle" style="text-align: left"></h3>
    <div style="text-align: left">
        <p style="margin: 10px 0;">病人姓名：    <span id="recordPatientName"></span></p>
        <p style="margin: 10px 0;">医生姓名：    <span id="recordDoctorName"></span></p>
        <p style="margin: 10px 0;">创建时间：    <span id="recordCreatetime"></span></p>
    </div>
    <hr>
    <div id="register_content">
        <p>诊断结果：<span id="recordDiagnosis"></span></p>
    </div>
    <div id="register_medcontent">
        <p>待取药单：<span id="recordContent"></span></p>
    </div>
    <hr>
    <p style="margin: 10px 0;">后续检查：    <span id="recordIfexam"></span></p>
    <p style="margin: 10px 0;">后续用药：    <span id="recordIfdrug"></span></p>
    <p style="margin: 10px 0;">后续治疗：    <span id="recordIftreat"></span></p>
</div>

<!--添加和修改弹出层-->
<div id="addOrUpdateDiv" style="display: none;padding: 10px;margin-right: 4%">
    <form action="" method="post" class="layui-form" id="dataFrm" lay-filter="dataFrm">
        <div class="layui-form-item">
            <label class="layui-form-label">是否需要邮寄</label>
            <div class="layui-input-block">

                <input type="checkbox" name="ifdelivery" lay-skin="switch" value="1">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">取药单号</label>
            <div class="layui-input-block">
                <input type="text" name="recordId"  required lay-verify="required" placeholder=""
                       readonly="readonly" class="layui-input">

            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">邮寄地址</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="deliveryaddr" id="content" placeholder="若不需要，留空即可" ></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="text-align: center;padding-right: 7%">
                <button type="button" class="layui-btn layui-btn-radius" lay-submit="" lay-filter="doSubmit" id="doSubmit">
                    <i class="layui-icon layui-icon-search layui-icon-normal"></i>提交
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="/resources/layui/layui.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
    var tableIns;

    layui.use(['jquery', 'form', 'layer', 'laydate', 'table','layedit'], function () {
        var $ = layui.jquery;
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var table = layui.table;
        var layedit = layui.layedit;

        //初始化时间选择器
        laydate.render({
            elem: "#startTime",
            type: "datetime"
        });

        //初始化表格 加载数据
        tableIns = table.render({
            elem: "#recordTable",
            title: "病历表格",
            url: "/api/bus/record/loadAllMedRecordByPatient",
            toolbar: "#recordToolBar",
            page: true,
            height: "full",
            cols: [ [
                {field: 'recordId', title: '病历编号', align: 'center', width: 100},
                {field: 'patientName', title: '患者姓名', align: 'center', width: 100},
                {field: 'createtime', title: '创建时间', align: 'center', width: 180},
                {field: 'diagnosis', title: '诊断结果', align: 'center', width: 250},
                {field: 'medContent', title: '待取药品', align: 'center', width: 250},
                {
                    field: 'ifdrug', title: '后续用药', align: 'center', width: 100, templet: function (d) {
                        if (d.ifdrug === false)
                            return "<font color='grey'>不需要</font>";
                        else
                            return "<font color='blue'>需要</font>";
                    }
                },
                {
                    field: 'medAvailable', title: '取药情况', align: 'center', width: 100, templet: function (d) {
                        if (d.iftreat === false)
                            return "<font color='blue'>待取药</font>";
                        else
                            return "<font color='grey'>已取药</font>";
                    }
                },
                {
                    field: 'medPayIfdone', title: '支付情况', align: 'center', width: 150, templet: function (d) {
                        if (d.medPayIfdone === false)
                            return "<font color='red'>未完成支付</font>";
                        else
                            return "<font color='blue'>已完成支付</font>";
                    }
                },
                {fixed: 'right', title: '操作', toolbar: '#recordRowBar', align: 'center', width: 250}
            ] ],
            done: function (data, curr, count) {
                if (data.data.length === 0 && curr !== 1) {   //不是第一页时，如果当前返回的数据为0那么就返回上一页
                    tableIns.reload({
                        page: {
                            curr: curr - 1
                        }
                    });
                }
            }
        });

        form.on("submit(doSearch)", function (data) {
            tableIns.reload({
                where: data.field,
                page: {
                    curr: 1
                }
            });
            return false;
        });

        //监控工具条事件
        table.on("toolbar(recordTable)", function (obj) {
            switch (obj.event) {
                case 'reload':
                    reloadTable();
                    break;
                default:
                    break;
            }
        });

        //监控行工具条事件
        table.on("tool(recordTable)",function (obj) {
            //获取当前行数据
            var data = obj.data;
            switch (obj.event){
                case 'show':
                    showRecord(data);
                    break;
                case 'pay':
                    pay(data);
                    break;
                case 'queue':
                    openQueueLayer(data);
                    break;
                default:
                    break;
            }
        });
        var mainIndex;
        var url;
        function pay(data){
            layer.confirm('你确定要缴费单号为【'+data.recordId+'】的药品单吗？',{icon: 3,title:'提示'},function (index) {
                var targeturl ='/bus/patient/toPaymentManager';
                window.top.reload(targeturl);
                layer.close(index);
            });
        }
        //打开添加的弹出层
        function openQueueLayer(data) {
            mainIndex = layer.open({
                type:1,
                content : $("#addOrUpdateDiv"),
                area:['800px','550px'],
                title:'添加公告',
                success:function () {
                    $("#dataFrm")[0].reset();
                    form.val("dataFrm",data);
                    url="/api/bus/medqueue/addMedqueue";
                }
            });
        }
        $("#doSubmit").click(function () {
            var data = $("#dataFrm").serialize();
            $.post(url,data,function (res) {
                if (res.code==200){
                    tableIns.reload();
                }
                //提示操作是否成功，且关闭弹出层
                layer.msg(res.msg);
                layer.close(mainIndex);
            });
        });

        // function joinQueue(data) {
        //     layer.confirm('你确定要使单号为【'+data.recordId+'】治疗预约进入排队吗？',{icon: 3,title:'提示'},function (index) {
        //         $.post("/api/bus/medqueue/addMedqueue",{recordId:data.recordId},function (res) {
        //             if (res.code==200){
        //                 tableIns.reload({
        //                     //删除成功加载表格时，要重置查询条件
        //                     where:"",
        //                 });
        //                 layer.msg(res.msg);
        //             }
        //             else if (res.code==403 ){
        //                 layer.msg("本治疗记录已使用过")
        //             }
        //             else if (res.code==400) {
        //                 layer.msg("未付款");
        //             }
        //         });
        //         layer.close(index);
        //     });
        // }


        //打开查看的弹出层
        function showRecord(data) {
            mainIndex = layer.open({
                type: 1,
                content: $("#showRecord"),
                area: ['600px', '350px'],
                title: '病历信息',
                skin: 'layui-layer-molv',
                success: function () {
                    $("#recordPatientName").html(data.patientName);
                    $("#recordDoctorName").html(data.doctorName);
                    $("#recordCreatetime").html(data.createtime);
                    $("#recordDiagnosis").html(data.diagnosis);
                    $("#recordContent").html(data.medContent);
                    if (data.ifdrug) {
                        $("#recordIfdrug").html("需要");
                        $("#recordIfdrug").css("color", "blue");
                    } else {
                        $("#recordIfdrug").html("不需要");
                        $("#recordIfdrug").css("color", "grey");
                    }
                    if (data.ifexam) {
                        $("#recordIfexam").html("需要");
                        $("#recordIfexam").css("color", "blue");
                    } else {
                        $("#recordIfexam").html("不需要");
                        $("#recordIfexam").css("color", "grey");
                    }
                    if (data.iftreat) {
                        $("#recordIftreat").html("需要");
                        $("#recordIftreat").css("color", "blue");
                    } else {
                        $("#recordIftreat").html("不需要");
                        $("#recordIftreat").css("color", "grey");
                    }
                }
            });
        }

    });



    function reloadTable() {
        tableIns.reload({
            where: "",
        });
    }


</script>
</body>
</html>
